<nav class="navbar navbar-expand-lg navbar-dark bg-warning ">

  <div class="container-fluid">
    <a class="navbar-brand fw-bold fs-4" href="#">
      <i class="bi bi-mortarboard-fill me-2"></i>Digital School
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link position-relative" href="#" id="notificationDropdown" role="button"
            data-bs-toggle="dropdown">
            <i class="bi bi-bell-fill fs-5 text-light"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              3
            </span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow">
            <li>
              <h6 class="dropdown-header">Notifications</h6>
            </li>
            <li><a class="dropdown-item" href="#">New assignment posted</a></li>
            <li><a class="dropdown-item" href="#">Meeting reminder</a></li>
            <li><a class="dropdown-item" href="#">Grade updated</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-gear-fill fs-5 text-light"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-semibold" href="#" id="userDropdown" role="button"
            data-bs-toggle="dropdown">
            <i class="bi bi-person-circle me-1 fs-5 text-light"></i>Arjun
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow">
            <li><a class="dropdown-item" href="#"><i class="bi bi-person me-2"></i>Profile</a></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right me-2"></i>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 bg-white min-vh-100 shadow-sm p-0">
  <div class="list-group list-group-flush rounded-0">

    <a
      routerLink="/admin"
      routerLinkActive="bg-warning text-dark fw-bold active-link"
      class="list-group-item list-group-item-action border-0 mb-1 py-3 d-flex align-items-center"
    >
      <i class="bi bi-speedometer2 me-2"></i> Dashboard
    </a>
  
    <a
      routerLink="/admin/teacher-management"
      routerLinkActive="bg-warning text-dark fw-bold active-link"
      class="list-group-item list-group-item-action border-0 mb-1 py-3 d-flex align-items-center"
    >
      <i class="bi bi-book me-2"></i> Teacher Management
    </a>

    <a
      routerLink="/admin/parent-management"
      routerLinkActive="bg-warning text-dark fw-bold active-link"
      class="list-group-item list-group-item-action border-0 mb-1 py-3 d-flex align-items-center"
    >
      <i class="bi bi-people me-2"></i> Parents Management
    </a>

    <a
      routerLink="/admin/student-management"
      routerLinkActive="bg-warning text-dark fw-bold active-link"
      class="list-group-item list-group-item-action border-0 mb-1 py-3 d-flex align-items-center"
    >
      <i class="bi bi-calendar-check me-2"></i> Students Management
    </a>

    <a
      routerLink="/admin/course-management"
      routerLinkActive="bg-warning text-dark fw-bold active-link"
      class="list-group-item list-group-item-action border-0 mb-1 py-3 d-flex align-items-center"
    >
      <i class="bi bi-file-earmark-text me-2"></i> Course Management
    </a>
    <a
      routerLink="/admin/class-Section"
      routerLinkActive="bg-warning text-dark fw-bold active-link"
      class="list-group-item list-group-item-action border-0 mb-1 py-3 d-flex align-items-center"
    >
      <i class="bi bi-file-earmark-text me-2"></i> Class & Section
    </a>
 <a
      routerLink="/admin/subject-management"
      routerLinkActive="bg-warning text-dark fw-bold active-link"
      class="list-group-item list-group-item-action border-0 mb-1 py-3 d-flex align-items-center"
    >
      <i class="bi bi-file-earmark-text me-2"></i> Subject Management
    </a>

    <a
      routerLink="/admin/messages"
      routerLinkActive="bg-warning text-dark fw-bold active-link"
      class="list-group-item list-group-item-action border-0 mb-1 py-3 d-flex align-items-center"
    >
      <i class="bi bi-chat-dots me-2"></i> 	Push notifications & announcements
      <span class="badge bg-warning text-dark rounded-pill ms-auto">5</span>
    </a>

    <a
      routerLink="/admin/exam-planner"
      routerLinkActive="bg-warning text-dark fw-bold active-link"
      class="list-group-item list-group-item-action border-0 mb-1 py-3 d-flex align-items-center"
    >
      <i class="bi bi-graph-up me-2"></i> Exam planner
    </a>
<a
      routerLink="/admin/content-management"
      routerLinkActive="bg-warning text-dark fw-bold active-link"
      class="list-group-item list-group-item-action border-0 mb-1 py-3 d-flex align-items-center"
    >
      <i class="bi bi-graph-up me-2"></i>Content Management
    </a>

  </div>
</nav>



    <main class="col-md-10  ">
      <!-- Where child pages render -->
      <div class="card border-0 m-1">
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>

  </div>
</div>
<app-chatboat></app-chatboat>
