.page-title {
  color: #ffb703;
  font-weight: 700;
}
 
.table-header th {
  background-color: #fff3cd;
  font-weight: 600;
}
 
.btn-warning {
  background-color: #ffb703;
  border: none;
}
 
.btn-warning:hover {
  background-color: #e6a800;
}
.table-yellow th {
  background-color: #ffc107;   /* Yellow */
  color: #000;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}
